*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: 0;
    list-style: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:0 35px;
}
.list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin-left:90px;
    padding: 0 85px;
}
.list li{
    list-style: none;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    color: #141517;
    font-weight: 600;
    padding: 50px 21px;
    position: relative;
    top: 10px;
}
.list .menu{
    position: relative;
}
.list .menu li{
    padding: 1px 20px;
}
.list .menu{
    position: absolute;
    flex-direction: column;
    justify-content: e;
    width: 170px;
    top:70px;
    right:-90px;
    padding:20px 0;
    background-color: #fff;
    display: none;
    transition: all .5s;
}
.list .subMenu li a:hover{
    color:#ff2020;
}
.list .subMenu:hover .menu {
    display: block;
}
.icons{
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    margin-left: 80px;
}
.icons i{
    padding: 0 15px;

}
.icons i:hover{
   color: #ff2020;

}
.list ul li a:hover{
    color: #ff2020;
}
.lates{
    position: relative;
}
.lates::before{
    position: absolute;
    content: "HOT";
    background: #ff003c;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 10px;
    top:20px;
    right: -13px;
    transition: all .2s ease-out 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 3px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.sectionShop1{
    background-image: url(../img/about_hero.png.webp);
    background-size: cover;
    padding: 60px 50px;
    margin-top: 60px;
}
.text{
    margin-top:80px;
}
.sectionShop1 .text h2{
    text-align: center;
    padding: 70px 0;
    margin-top:80px;
    font-size: 70px;
    font-weight: 700;
    color: #0b1c39;
}
.gray{
    padding: 30px 60px;
}
.contGray{
    padding: 15px 50px;
    background-color:rgba(128, 128, 128, 0.137);
    border-radius: 10px;
    height:500px;
    text-align: center;
    margin-bottom:1px;
    margin-top: 80px;
}
.imgGray{
    padding:10px 30px;
    margin-top: 70px;
}
.contGray img{
    width:40px;
    margin-top: 85px;
}
.contGray h3{
    margin: 5px;
    margin-bottom: 20px;
    color: #3c4043;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    font-size: 24px;
}
.contGray p{
    margin: 5px;
    color: #3c4043;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
}
.sectionForm h2{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #0b1c39;
}
.textContact h3{
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 500;
}
.textContact p{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #8a8a8a;
}
.iconsContact i{
    color: #8f9195;
    font-size:23px;
    line-height:2;
    margin-left:32px;
}
.info{
  margin-left: 85px;
  padding: 0 80px;
}
.form1 input{
    border: 1px solid #e5e6e9;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    color: #495057;
    width: 100%;
    margin-top:30px;
}
.form textarea{
    padding-left: 18px;
    font-size: 13px;
    border: 1px solid #e5e6e9;
    width: 100%;
    height: 100%;
}
.inpSub input{
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: 1px solid #e5e6e9;
    color: #495057;
    margin-top:33px;
    margin-bottom: 40px;
}
.btnForm{
    border-color: #fdcb9e;
    padding: 12px 25px;
    font-size: 15px;
    font-weight:500;
    border-radius: 4px;
    border: 1px solid #fdcb9e;
    background-color: #ff2020;
    cursor: pointer;
    color: white;
    letter-spacing:5px;
    margin-bottom: 60px;
    transition: .5s;
}
.btnForm:hover{
    color: black;
}
footer{
    background: #f0f0f2a1;
    padding: 90px 60px;
}
.container{
    padding: 40px 0;
}
.imgFooter{
    width: 125px;
    margin-bottom:36px;
}
footer .textImg{
    color: #868c98;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.8;
}
.footText h4{
    color: #000;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif; 
    margin-left:30px; 
}
.footText ul li a{
    color: #868c98;
    font-weight: 300;
    transition: all .3s ease-out 0s;
}
.footText ul li{
    transition: all .3s ease-out 0s;
}
.footText ul li:hover{
    transform:translateX(10px);
}
.footText ul li a:hover{
    color: #ff2020;
}
.linkText a{
    color: #ff2020;
}
.finaly{
    margin-top:50px;
    margin-bottom: 15px;
}
.endFoot{
    text-align: end;
}
.endFoot i{
    padding: 0 5px;
    color: #222222;
    font-size: 14px;
    transition: all .3s ease-out 0s;
}
.endFoot i:hover{
    transform:rotateY(140deg);
    color: #ff2020;
}
@media screen and (max-width:992px){
    .head{
        align-items: start;
        padding:0 10px;
    }
    .list ul{
        margin-left:10px;
        padding: 0 40px;
    }
    .list li{
        padding: 50px 21px;
    }
    .icons{
        color: #000000;
        font-size: 10px;
        cursor: pointer;
        margin-left:15px;
        margin-top: 60px;
    }
    .logo{
        margin-top:50px;
    }
    .textContact h3{
        font-size:14px;
    }
    .textContact p{
        font-size:14px;
    }
    .iconsContact i{
        margin-left:30px;
    }
    .info{
      padding: 0 60px;
    }
}
@media screen and (max-width:800px){
    .head{
        padding:0 10px;
    }
    .list ul{
        margin-left:85px;
        padding: 0 40px;
    }
    .list li{
        padding:0 21px;
        top:-20px;
    }
    .icons{
       display: none;
    }
    .lates::before{
        top:-20px;
        right: -13px;
    }
    .logo{
        margin-top:50px;
    }
    .textContact h3{
        font-size:12px;
    }
    .textContact p{
        font-size:11px;
    }
    .iconsContact i{
        margin-left:20px;
    }
    .info{
      padding: 0 20px;
    }
}
@media screen and (max-width:768px){
    .head{
        padding:0 15px;
    }
    .list ul{
        margin-left:70px;
        padding: 0 50px;
    }
    .list li{
        list-style: none;
        font-size:14px;
        padding: 50px 21px;
        top: -66px;
    }
    .links a{
        margin-left:15px;
    }
    .lates::before{
        display: none;
      }
}
@media screen and (max-width:600px){
    .head{
        padding:0 0;
    }
    .list ul{
        margin-left:10px;
    }
    .list li{
        font-size: 10px;
        top:-12px;
        left:90px;
        padding: 0 13px;
    }
}